.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button > button {
  background-color: #603859;
  padding: 1rem 1rem 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  border-radius: 100rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 2rem #462e45;
}

.button > button > span.icon {
  background-color: #462e45;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
